{%extends 'main.html'%}


{%block content%}
{%load static%}
<div id="stdnt-profilepg-main-wrapper" class="clearfix">
    <div id="profilepg-left-wrapper">
        <div id="LW-header">
            <h2 id="reservice-text-hdr">ReService</h2><h2 id="reservice-text-hdr">Account</h2>
        </div>
        <div id="LW-sidebar-wrapper" >
            <div id="LW-nav-btn" class="clearfix"  style="border-bottom: solid white; border-width: 1px;">
                <div id="LW-navbtn-icon-wrapper">
                    <img id="LW-navbtn-icon" src="{% static 'images/personalinf-icon.png' %}" />
                </div>
                <div id="LW-navbtn-text-wrapper">
                    <h2 id="LW-navbtn-text">Person Information</h2>
                </div>

            </div>
            <div id="LW-nav-btn" class="clearfix" >
                <div id="LW-navbtn-icon-wrapper">
                    <img id="LW-navbtn-icon" src="{% static 'images/security-icon.png' %}" />
                </div>
                <div id="LW-navbtn-text-wrapper">
                    <h2 id="LW-navbtn-text">Security Settings</h2>
                </div>

            </div>
            <div id="LW-nav-btn" class="clearfix" >
                <div id="LW-navbtn-icon-wrapper">
                    <img id="LW-navbtn-icon" src="{% static 'images/bus-icon.png' %}"/>
                </div>
                <div id="LW-navbtn-text-wrapper">
                    <h2 id="LW-navbtn-text">Service Details</h2>
                </div>

            </div>
            <div id="LW-nav-btn" class="clearfix">
                <div id="LW-navbtn-icon-wrapper">
                    <img id="LW-navbtn-icon" src="{% static 'images/payment-icon.png' %}"/>
                </div>
                <div id="LW-navbtn-text-wrapper">
                    <h2 id="LW-navbtn-text">Payments</h2>
                </div>

            </div>
            <div id="LW-nav-btn" class="clearfix" sty;e="border-bottom: solid white;">
                <div id="LW-navbtn-icon-wrapper">
                    <img id="LW-navbtn-icon" src="{% static 'images/about-icon.png' %}"/>
                </div>
                <div id="LW-navbtn-text-wrapper">
                    <h2 id="LW-navbtn-text">About</h2>
                </div>

            </div>
        </div>
    </div>
    <div id="profilepg-right-wrapper" >
        <form method="POST" action="" enctype="multipart/form-data">
            {%csrf_token%}

        <h2 id="RW-profile-header">Student Profile</h2>
        <div id="RW-top-profile-wrapper" class="clearfix">
            <div id="RW-profile-img-wrapper">
                {% if user.profile.image %}
                    <img id="RW-profile-img" src="{{user.profile.image.url}}">
                    {{pform.image}}
                {%else%}
                    <img id="RW-profile-img" src="{% static 'images/nopic.jpg'%}">
                    {{pform.image}}
                {%endif%}
            </div>
            <div id="RW-profile-fullname-wrapper">
                <h2 id="RW-profile-fullname">{{request.user.first_name}} {{request.user.middle_name}} {{request.user.last_name}}</h2>
            </div>
            <div id="RW-profile-btns-wrapper" >
                    <input id="save-btn" type="submit" value="Save"/>
            </div>
        </div>
        <hr>
        <h2 id="RW-profile-subheader">Personal Information</h2>
        <div id="profile-personal-info-wrapper">
            <label id="profile-label">Last Name:</label><br>
            {{form.last_name}}<br>
            <label id="profile-label">First Name:</label><br>
            {{form.first_name}}<br>
            <label id="profile-label">Middle Name:</label><br>
            {{form.middle_name}}<br>
            <label id="profile-label">Contact No.:</label><br>
            {{form.contact_no}}<br>
            <label id="profile-label">Birth Date:</label><br>
            {{form_p.birth_date}}<br>
            <label id="profile-label">Age:</label><br>
            {{form_p.age}}<br>
            <label id="profile-label">Parent or Guardian:</label><br>
            {{form_p.parent}}<br>
            <label id="profile-label">Guardian Address:</label><br>
            {{form_p.parent_address}}<br>
            <label id="profile-label">Guardian Contact No:</label><br>
            {{form_p.parent_contactNo}}<br>
        </div>
        <hr>
        <h2 id="RW-profile-subheader">Address Information</h2>
        <div id="profile-address-info-wrapper">
            <label  style="display: inline; margin-left: 2%;" id="profile-label">Lot:</label>
            {{form_p.lot}}
            <label style="display: inline; margin-left: 2%;" id="profile-label">Street:</label>
            {{form_p.street}}<br>
            <label  style="display: inline; margin-left: 2%;" id="profile-label">Village:</label>
            {{form_p.village}}
            <label  style="display: inline; margin-left: 2%;" id="profile-label">City:</label>
            {{form_p.city}}<br>
            <label  style="display: inline; margin-left: 2%;" id="profile-label">Zip Code:</label>
            {{form_p.zipcode}}
            
        </div>
        <hr>
        <h2 id="RW-profile-subheader">School Information</h2>
        <div id="profile-personal-info-wrapper">
            <label id="profile-label">School Branch:</label>
            <div id="proile-content-wrapper">
                {{user.profile.school_branch}}
            </div>
            <label id="profile-label">Year Level:</label>
            <div id="proile-content-wrapper">
                {{user.profile.year_level}}
            </div>
            <label id="profile-label">Section:</label>
            <div id="proile-content-wrapper">
                {{user.profile.section}}
            </div>
        </div>
    </form>
    </div>
</div>

{%endblock%}