{%extends 'main.html'%}



{%block content%}
{%load static%}
<style>
    #stdnt-profile-fillup-mainwrapper{
    background-image: url("{%static 'images/mainNavpage_bg.png'%}");
}
</style>
<div id="stdnt-profile-fillup-mainwrapper">
    <div id="stdnt-profile-form">
        <h2 id="stdnt-main-header">Student Profile</h2>
        <hr>
        <form method="POST" action="">
            {%csrf_token%}
            <div id="stdnt-form-content3">
                <h2 id="stdnt-sub-header">Personal Information</h2>
                <label id="stdnt-profile-form-field-label">Birth Date:</label><br>
                    {{form.birth_date}}<br>
                <label id="stdnt-profile-form-field-label">Age:</label><br>
                    {{form.age}}<br>
                <hr>
            </div>
            <div id="stdnt-form-content2">
                <h2 id="stdnt-sub-header" style="display: block;">Address</h2><br>
                <label id="stdnt-profile-form-field-label">Lot/House no./Blg no.:</label>
                {{form.lot}}
                <label id="stdnt-profile-form-field-label">Street:</label>
                {{form.street}}<br>
                <label id="stdnt-profile-form-field-label">Village:</label>
                {{form.village}}
                <label id="stdnt-profile-form-field-label">City:</label>
                {{form.city}}<br>
                <label id="stdnt-profile-form-field-label">Zip Code:</label>
                {{form.zipcode}}
                <hr>
            </div>
            <div id="stdnt-form-content3">
                <h2 id="stdnt-sub-header">School</h2>
                <label id="stdnt-profile-form-field-label">Year level:</label><br>
                    {{form.year_level}}<br>
                <label id="stdnt-profile-form-field-label">Section:</label><br>
                    {{form.section}}<br>
                <label id="stdnt-profile-form-field-label">School Brach:</label><br>
                    {{form.school_branch}}<br>
                <hr>
            </div>
            <div id="stdnt-form-content3">
                <h2 id="stdnt-sub-header">Family</h2>
                <label id="stdnt-profile-form-field-label">Parent or Guardian:</label><br>
                    {{form.parent}}<br>
                <label id="stdnt-profile-form-field-label">Guardian Contact No.:</label><br>
                    {{form.parent_contactNo}}<br>
                <label id="stdnt-profile-form-field-label">Parent Address:</label><br>
                    {{form.parent_address}}<br>
                <hr>
            </div>
            <input id="login-page-btn"  type="submit" value="Submit"/>
        </form>

    </div>
</div>


{%endblock%}