{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #forgot-pass-main-wrapper{
        background-image: url("{%static 'images/landing.png'%}");
    }
</style>
<div id="forgot-pass-main-wrapper">

    <div id="forgot-pass-form-wrapper">
        <h2 id="forgot-pass-header">Forgot your password?</h2>
        <p id="forgot-pass-message">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div class="form-fields">
            <form method="POST">
                {% csrf_token %}
                <label id="forgot-pass-subheader">Email:</label>
                {{form.email}}
                <button id ="login-page-btn"type="submit">Send email</button>
            </form>

         </div>
    </div>
</div>

{%endblock%}