{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #forgot-pass-main-wrapper{
        background-image: url("{%static 'images/landing.png'%}");
    }
</style>
<div id="forgot-pass-main-wrapper">

    <div id="forgot-pass-form-wrapper">
        <h2 id="forgot-pass-header">Reset Password</h2>
        <p id="forgot-pass-message">Enter your new password</p>
        <div class="form-fields">
            <form method="POST">
                {% csrf_token %}
                <label id="forgot-pass-subheader">New Password:</label>
                {{form.new_password1}}
                <label id="forgot-pass-subheader">Confirm New Password:</label>
                {{form.new_password2}}
                <button id ="login-page-btn"type="submit">Confirm</button>
            </form>

         </div>
    </div>
</div>

{%endblock%}