{%extends 'main.html'%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservice</title>

</head>

{% block content%}
{%load static%}
<body>
    <div class="container">
        <h1>Reservice</h1>
        <div class="row">
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 1 </i>
                <h2>Luis Eduardo</h2>
                <p>An experienced driver with lots of skills and talents </p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5501/operator1.html'">Select Operator</a>

            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 2 </i>
                <h2>Gian Nanquil</h2>
                <p>Gian Nanquil</p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5503/operator2.html'">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 3 </i>
                <h2>Vanessa Sarabia</h2>
                <p>She/Her</p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5500/operator3.html'">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 3 </i>
                <h2>Harvey Obispo</h2>
                <p>Bishop</p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5505/operator4.html'">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 5 </i>
                <h2>Diosell Olarte</h2>
                <p>Babaero</p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5504/operator5.html'">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 6 </i>
                <h2>Scooby Doo</h2>
                <p>Aso</p>
                <a href="#" class="btn" onclick="location.href='http://127.0.0.1:5500/operator6.html'">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 7 </i>
                <h2>Matty Healy</h2>
                <p>Singer</p>
                <a href="#" class="btn">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 8 </i>
                <h2>Avril Lavigne</h2>
                <p>Song writer</p>
                <a href="#" class="btn">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 9 </i>
                <h2>Kai Sotto</h2>
                <p>Ginulay ang monggo</p>
                <a href="#" class="btn">Select Operator</a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-user"> Operator 10 </i>
                <h2>Lebron James</h2>
                <p>purefoods star</p>
                <a href="#" class="btn">Select Operator</a>
            </div>

    </div>









{%endblock content%}